.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
  margin-bottom: 0.5rem;
}

.container:last-of-type {
  margin-bottom: 0;
}

.message {
  width: 60%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-bright);
}

.text {
  margin: 0.25rem 0;
  padding: inherit;
  white-space: pre-wrap;
  background-color: var(--white);
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.container.partner {
  justify-content: flex-start;
}
