.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
  margin-bottom: 0.5rem;
}

.container:last-of-type {
  margin-bottom: 0;
}

.message {
  display: flex;
  flex-direction: column;

  width: 60%;
  padding: 0.5rem;
  border-radius: var(--border-radius);

  background-color: var(--primary-bright);
}

.text {
  resize: none;

  max-width: 100%;
  margin: 0.25rem 0 0.5rem;
  padding: inherit;

  white-space: pre-wrap;

  background-color: var(--white);
}

.header,
.footer {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.header {
  justify-content: space-between;
}

.footer {
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-end;
}

.container.partner {
  justify-content: flex-start;
}

.edited {
  margin-right: auto;
}

.status {
  margin-right: 0.25rem;
}
