.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
  padding: 0.5rem;

  background-color: var(--primary-bright);
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.titleContainer {
  text-align: center;
}
