.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;

  background-color: var(--primary-bright);
}

.link {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  color: var(--primary-dark);

  transition: text-decoration-color 0.2s;
}

.link:hover {
  text-decoration-color: var(--accent);
}

.logo {
  width: 1.5rem;
}
