:root {
  --white: #fbfbfb;
  --primary-dark: #1c1c1c;
  --primary-bright: rgb(233 233 233);
  --primary-medium: #4c4c4c;
  --accent: #ffe338;
  --valid: #82e14b;
  --invalid: #ff3131;

  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--primary-dark);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--white);

  font-synthesis: none;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: var(--primary-bright);
}

::-webkit-scrollbar-track {
  border: 1px solid var(--primary-bright);
  border-top: none;
  border-bottom: none;
  background: transparent;
}
