.list {
  overflow-y: scroll;

  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user {
  position: relative;
  padding-left: 1.5em;
}

.user:hover {
  cursor: pointer;
  background-color: var(--primary-bright);
}

.user::before {
  content: '●';

  position: absolute;
  bottom: 0.05em;
  left: 0.35em;

  color: var(--invalid);
}

.user.online::before {
  color: var(--valid);
}
