.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-dark);
}

.login {
  margin: 0;
  font-size: 1rem;
}

.status {
  color: var(--invalid);
}

.status .online {
  color: var(--valid);
}
